<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <title>Erreur - Zombieland</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <header>
        
    </header>

    <main>
        <h1>Oups! Une erreur est survenue.</h1>
        <p>Nous n'avons pas pu trouver la page que vous cherchez.</p>
        <a href="/" class="animated-button1" aria-label="Retour à l'accueil">Retour à l'accueil</a>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player 
            src="https://lottie.host/ed3ab1c9-3658-4365-8bf0-2d92a5069469/NxfbWxp7s0.json" 
            background="transparent" 
            speed="1" 
            style="width: 300px; height: 300px" 
            loop 
            autoplay 
            direction="1" 
            mode="normal">
        </lottie-player>
    </main>

    <footer>
        <p>© 2024 Zombieland. Tous droits réservés.</p>
    </footer>
</body>
</html>
